body{
    font-family: 'Cabin', sans-serif;
    background-color: white;
    margin:0;
    padding:0;
  }
  
  a{
    text-decoration:none;
    color:black;
  }
  
  h1{
    float: left;
    margin-left:28px;
    margin-top:15px;
    margin-bottom:21px;
  }
  
  h1 a{
    text-decoration:none;
    color: black;
    font-size:35px;
  }
  
  hr{
    color: #CDE4F3;
    height:1.5px;
    width: 1500px;
    border-width:1px;
    background-color: #CDE4F3;
  }

  #testintro{
    position: absolute;
    margin-left: 160px;
    margin-top: 130px;
    font-size: 20px;
    color: #133C55;
  }

  #startB{
    font-size:17px;
    background-color: white;
    border-radius:8px;
    border-width:2px;
    padding:12px;
    margin-top:30px;
  }

  #startB:hover{
    background-color: #CDE4F3;
    transition-duration: .6s;
    cursor: pointer;
  }

  #cancelIconB {
    position: absolute;
    background-color: white;
    margin-left:1380px;
    border:none;
    font-size:16px;
    text-align:center;
    display:inline-block;
    vertical-align: top;
    padding-bottom:30px;
    margin-top: 20px;
  }

  #testlesson{
    margin-left: 430px;
    display: none;
  }

  #instructions{
    margin-left:180px;
    margin-top:100px;
    font-size:30px;
  }

  #wordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:14px;
    margin-top: 100px;
    width: 575px;
    height: 50px;
    border-style: solid;
    border-color: lightgray;
    border-width:2px;
    border-radius: 8px;
    font-size:19px;
  }
  
  #userInputContainer{
    margin-top: 30px;
    width: 600px;
    height: 120px;
    border-style: solid;
    border-color: lightgray;
    background-color: #EAEBEB;
    border-radius: 8px;
    border-width:2px;
  }

  #checkB{
    font-family: 'Cabin', sans-serif;
    background-color: #CDE4F3;
    margin-left: 800px;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    border-color:lightgray;
    width: 120px;
    height:50px;
    color: white;
    font-size:17px;
  }

  #checkB:hover{
    cursor: pointer;
    background-color: lightskyblue;
    transition-duration: .5s;
  }

  #userInput{
    margin:10px;
    padding:10px;
    color: #133C55;
    border: none;
    background-color: #EAEBEB;
    font-size:16px;
    width: 560px;
    height: 82px;
    display: flex;
    align-items:center;
  }

  #words{
    height:30px;
    width:300px;
  }
  